<div class="jumbotron">

  <h1 class="display-4">Eat-Da-Burger!</h1>

  <form class="was-validated">
    <div class="mb-3">
      <label for="burger_name validationTextarea">Burger Name</label>
      <textarea class="new-burger form-control is-invalid" id="id" placeholder="Enter Burger Name"></textarea>
      <div class="invalid-feedback">
        Please enter a burger name in the textarea.
      </div>
    </div>
    <a class="btn btn-primary btn-lg" role="button">Submit</a>
  </form>

  <p>Enter the burger you want to eat! Click the "Submit" button.</p>
</div>

<div class="container">
<div class="col-auto">
  <ul>
{{#each burgers}}
{{#unless devoured}}
{{>burgers/burgers-devour devoured=false}}
{{/unless}}
{{/each}}
</ul>
</div>
<div class="col-auto">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burgers-devour devoured=true}}
  {{/if}}
  {{/each}}
</div>
</div>
