<div class=" text-center mx-auto d-block">
  <img src="http://animationsa2z.com/attachments/Image/burger/burger009.gif" class="img-fluid" alt="Responsive image">
</div>
<div class="container">

  <h1 class="display-1" id="heading"><b>Eat-Da-Burger!</b></h1>

  <div class="container mx-auto p-20" style="width: 600px;">
    <form class="create-form">
      <div class="form-group">
        <label for="burger_name"><b>Burger Name</b></label>
        <input type="text" class="form-control w-70" id="burger_name" placeholder="Enter burger name!">
        <p>Enter the burger you want to eat! Click the "Submit" button.</p>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </div>

    </form>
  </div>


  <div class=" dlist container">
    <div class="row mx-auto mx-md-n5">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="col-sm-12 text-center">
        <h4 class="margin-auto"><b>Waiting to be devoured!</b></h4>
        </div>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{>burgers/burgers-devour devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-5">
        <h4><b>Devoured!</b></h4>
        <ul class="devoured-display">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burgers-devoured devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>