<li class="alist">
    <div class="alist row">
        <div class="alist col-sm-8">
            {{burger_name}}
        </div>
        <div class="col-sm-4">
            <button class="devour-it btn btn-info" data-id="{{id}}" data-isdevoured="{{devoured}}">
                {{#unless devoured}}Devour it!!{{/unless}}
            </button>
        </div>
    </div>
</li>